* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* .wrapper {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "footer";
} */

header {
    width: 300px;
    height: 300px;
    margin:left;
    padding: 5%;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
    text-decoration: none;
}

main{
   margin: 50px;
}

h1 > project.html {
    font-size: 300px;
}

.navbar ul {
    list-style: none;
    background-color: rgb(48, 46, 46);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
}

.navbar a:hover {
    background-color: grey;
}
.navbar li {
    float: right;
}

header > ul > li {
    list-style: none;
    padding: 5px;
    margin: 10px;
    
}


.contain1 {
    width: 100%$;
    position: flex;
    justify-content: bottom;
}








/* footer */

.foot {
    display: flex;
    justify-content: center;
    flex: wrap;
    background-color: orange;
    height: 10vh;
}

.foot a {
    text-decoration: none;
    background-color: rgb(10, 8, 5);
    margin: 30px;
    border: 30px solid rgb(0, 0, 0);
    border-radius: 50%;
}


footer > div > li {
    list-style: none;  
}


.copy {
    color:aliceblue
    padding: 200px;

}